<!-- Navigation -->
<!-- <div ng-include="'partials/navbar'"></div> -->
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Notify-Home</title>

    <!-- Bootstrap Core CSS -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom CSS -->
    <!-- <link href="css/landing-page.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="styles/searchbar.css">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">NoteIfy</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="sell">Sell</a>
                    </li>
                    <li>
                        <a href="#">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

                <div class="row">

                  <form class="form-wrapper cf">
                  <input type="text" placeholder="Search here..." required>
                  <button type="submit">Search</button>
                  </form>  

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img style="width: 320px; height: 130px;" src="http://www.professays.com/wp-content/uploads/2009/11/Descriptive-Essay-Sample-232x300.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$6.99</h4>
                                <h4><a href="#">AP Biology Chapter 22 Evolution Notes</a>
                                </h4>
                                <p>A comprehensive AP Biology Chapter 22 Evolution Note...</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img style="width: 320px; height: 130px;" src="http://blog.adnanmasood.com/wp-content/uploads/2014/04/pnotbp.png" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$15.00</h4>
                                <center><h4><a href="sell">Alorithms: Design and Analysis, Part 1</a>
                                </h4></center>
                                <p>You'll learn several blazingly fast primitives for computing on graphs..</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">12 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img style="width: 320px; height: 130px;" src="http://research.microsoft.com/en-us/um/people/yael/publications/2009-abstract-BlackBox.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$12.99</h4>
                                <h4><a href="#">Cryptography I</a>
                                </h4>
                                <p>These notes explains the inner workings of cryptographic primitives and how to correctly use them...</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">31 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img style="width: 320px; height: 130px;" src="http://econweb.arts.cornell.edu/arazin/gametheory1.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$14.99</h4>
                                <h4><a href="#">Game Theory</a>
                                </h4>
                                <p> The notes will provide the basics: representing games and strategies...</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">6 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img style="width: 320px; height: 130px;" src="http://upload.wikimedia.org/wikipedia/en/thumb/f/fa/MLR-search-engine-example.png/250px-MLR-search-engine-example.png" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$14.00</h4>
                                <h4><a href="#">Machine Learning</a>
                                </h4>
                                <p>In this class, you will learn about the most effective machine learning techniques, and...</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                     <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img style="width: 320px; height: 130px;" src="http://epubs.surrey.ac.uk/790276/3.haspreviewThumbnailVersion/Mass_surveillance.pdf" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$8.00</h4>
                                <h4><a href="#">Surveillance Law</a>
                                </h4>
                                <p>The material also provides brief, not-too-geeky technical explanations of some common surveillance methods...</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                     <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img style="width: 320px; height: 130px;" src="http://2.bp.blogspot.com/-3c0MEu0vSYo/Uo8ewRQ_H4I/AAAAAAAACqQ/7tC09Z9ugvk/s1600/Risk-question-IFA-answers.png" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$20.00</h4>
                                <h4><a href="#">Stocks and Bonds: Risks and Returns</a>
                                </h4>
                                <p>These notes will present an overview of stocks and bonds, with a focus on the finance fundamentals behind...</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#home">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    
    </body>
</html>
  
